<template>
  <li class="nav-item dropdown">
    <div class="nav-link dropdown-toggle" data-toggle="dropdown">{{ head }}</div>
    <div class="dropdown-menu">
      <slot></slot>
    </div>
  </li>
</template>

<script>
export default {
  props: {
    head: String
  }
}
</script>

<style lang="scss" scoped>
.dropdown-toggle {
  cursor: pointer;
}

.dropdown-menu {
  background-color: transparent;
  border: transparent;
}

.dropdown-menu, .dropdown-content {
  a {
    display: block;
    font-size: 18px;
    padding: 6px 16px;
    background: #fff;
    border-bottom: 1px rgba(0, 0, 0, 0.1) solid;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);

    &:hover {
      margin-left: 6px;
      margin-right: -6px;
      font-size: 20px;
      background: #2e2e2e;
      color: #fff;
      border-radius: 0 4px 4px 0;
    }

    &:first-child {
      border-radius: 4px 4px 0 0;

      &:hover {
        border-bottom-right-radius: 4px;
      }
    }

    &:last-child {
      border-radius: 0 0 4px 4px;

      &:hover {
        border-top-right-radius: 4px;
      }
    }
  }

  animation: animation .3s;
  animation-fill-mode: both;
  @keyframes animation {
    from {
      transform: translateY(10px);
      opacity: 0;
    }
    to {
      transform: translateY(-10px);
      opacity: 1;
    }
  }
}
</style>