<template>
  <a class="dropdown-item" :href="link">{{ title }}</a>
</template>

<script>
export default {
  props: {
    title: String,
    link: String
  }
}
</script>

<style scoped>

</style>