<div class="container">
  <main class="bg-white row justify-content-center">
    <!--SideBar-->
    <aside class="col-3 border-right">
      <!--Site map-->
      <div class="p-3">
        <h3 class="d-inline">Все статьи</h3> <i class="fas fa-project-diagram"></i>
        <v-tree :tree-data="{{json objTree }}"></v-tree>
      </div>
    </aside>
    <!--Main-->
    <article class="col-9 p-4">
      <!--Current Title-->
      <div class="d-flex justify-content-between">
        <a href="{{ sideArticles.[0].alias }}" class="btn btn-outline-dark h4" style="width: 38px;"><i class="fas fa-angle-left"></i></a>
        <h3>{{ article.title }}</h3>
        <a href="{{ sideArticles.[1].alias }}" class="btn btn-outline-dark h4" style="width: 38px;"><i class="fas fa-angle-right"></i></a>
      </div>
      <!--Item Preview-->
      <section class="row ml-0 pt-4">
        <!--Poster-->
        <div class="col-5 row">
          <img src="/assets/img/catalog/{{ article.parentAlias }}/videos/{{ article.alias }}.png" class="w-100 border border-bottom-0">
          <button class="small rounded-0 btn-outline-dark text-center p-0 border col line-h">Смотрю</button>
          <button class="small rounded-0 btn-outline-dark text-center p-0 border col line-h">Посмотрю</button>
          <button class="small rounded-0 btn-outline-dark text-center p-0 border col line-h">Посмотрел</button>
        </div>
        <!--Specifications-->
        <div class="col-7">
          <ul class="list-group">
            <li class="list-group-item p-2">Автор: <span class="h5">{{ article.author }}</span></li>
            <li class="list-group-item p-2">Год публикации: <span class="h5">{{ article.publication }}</span></li>
            <li class="list-group-item p-2">Уровень: {{{ definition article.difficult '"Высокий", "Средний", "Легкий"' true}}}</li>
            <li class="list-group-item p-2">Просмотры: <span class="h5">{{ article.views }}</span></li>
            <li class="list-group-item p-2"><a href="{{ article.link }}" target="_blank" class="h5 underlined">Ссылка на {{{definition article.category '"", "видео", "книгу"'}}}</a></li>
          </ul>
        </div>
      </section>
      <!--Description-->
      <section class="border-top">
        <p>{{{article.description}}}</p>
        <!--Video/Book-->
        {{#if article.category}}
          <section class="d-flex justify-content-between px-3">
            <!--Change arrow left-->
            <div class="d-flex align-items-center block-lighter">
              <img src="/assets/img/icons/arrow-left.png" width="40" alt="toggle left">
            </div>
            <!--Video-->
            <iframe width="640" height="360" src="{{ article.iframe_link }}" frameborder="0" allowfullscreen></iframe>
            <!--Change arrow right-->
            <div class="d-flex align-items-center block-lighter">
              <img src="/assets/img/icons/arrow-right.png" width="40" alt="toggle right">
            </div>
          </section>
          <!--Pagination-->
<!--          <ul class="pagination justify-content-center">-->
<!--            <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>-->
<!--            <li class="page-item"><a class="page-link" href="#">1</a></li>-->
<!--            <li class="page-item"><a class="page-link active" href="#">2</a></li>-->
<!--            <li class="page-item"><a class="page-link" href="#">3</a></li>-->
<!--            <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>-->
<!--          </ul>-->
        {{/if}}
      </section>
      <!--Similar content-->
      <section class="border-top">
        <div id="similarContentCarousel" class="carousel slide" data-interval="false">
          <!--Control-->
          <a class="carousel-control-prev pl-3" href="#similarContentCarousel" data-slide="prev" style="width: 65px">
            <div class="btn btn-sm btn-outline-dark"><</div>
          </a>
          <!--Carousel-->
          <div class="carousel-inner">
            <!--Carousel Item-->
            <v-carousel-item active="active">
              <v-carousel-item-card title="title" author="author"></v-carousel-item-card>
              <v-carousel-item-card title="title" author="author"></v-carousel-item-card>
              <v-carousel-item-card title="title" author="author"></v-carousel-item-card>
            </v-carousel-item>
            <v-carousel-item>
              <v-carousel-item-card title="title" author="author"></v-carousel-item-card>
              <v-carousel-item-card title="title" author="author"></v-carousel-item-card>
              <v-carousel-item-card title="title" author="author"></v-carousel-item-card>
            </v-carousel-item>
          </div>
          <!--Control-->
          <a class="carousel-control-next pr-3" href="#similarContentCarousel" data-slide="next" style="width: 65px">
            <div class="btn btn-sm btn-outline-dark">></div>
          </a>
          <ul class="carousel-indicators position-static">
            <li class="mt-2 border-0 bg-dark rounded active" data-target="#similarContentCarousel" data-slide-to="0" style="height: 4px; transition: .5s"></li>
            <li class="mt-2 border-0 bg-dark rounded" data-target="#similarContentCarousel" data-slide-to="1" style="height: 4px; transition: .5s"></li>
          </ul>
        </div>
      </section>
      <!--Comments-->
      <section class="border-top">
        <div class="h4">Комментарии</div>
        <!--Comments input-->
        <section class="border-top border-bottom">
          <div class="form-group">
            <label for="comment" class="h5">Напиши свой комментарий:</label>
            <textarea class="form-control p-2" rows="4" id="comment" placeholder="Comment's text"></textarea>
          </div>
          <div class="d-flex justify-content-between">
            <div>[bbcode]</div>
            <button class="btn btn-dark">Отправить</button>
          </div>
        </section>
        <section>
          <!--Comments list-->
          <v-comment user_name="ABRAHAM Lolikon" comment_data="12 Августа в 14:54" :rates="[2, 3]" :answers="1">
            <template #comment-text>
              <p>orem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam architecto beate commodi dolorem ducimus earum hic reprehenderit voluptate! Culpa deleniti dolores harum hic officia
                officiis omnis suscipit temporibus unde veniam!
              </p>
            </template>
            <template #answers>
              <v-comment user_name="ABRAHAM's son" comment_data="Вчера в 2:05">
                <template #comment-text>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam architecto beatae commodi dolorem ducimus earum hic reprehenderit voluptate! Culpa deleniti dolores harum hic
                    officiis omnis suscipit temporibus unde veniam!
                  </p>
                </template>
              </v-comment>
            </template>
          </v-comment>
        </section>
      </section>
    </article>
  </main>
</div>