<div class="container">
  <main class="row">
    <!--Tabs bar-->
    <aside class="nav flex-column col-2 p-0 border-right">
      <a class="nav-link active" data-toggle="pill" href="#main">Главное</a>
      <a class="nav-link" data-toggle="pill" href="#basics">Основы</a>
      {{#if (length frameworks)}}
        <a class="nav-link" data-toggle="pill" href="#frameworks">Фреймворки</a>
      {{/if}}
    </aside>
    <article class="tab-content col-10 p-0">
      <!--Main-->
      <div class="tab-pane fade show active" id="main">
        <div class="p-3">
          <img width="500" class="float-left mr-3" src="/assets/img/catalog/{{current.alias}}/main.png" alt="poster">
          <div class="tab-content d-flex border rounded mb-5" style="min-height: 260px;">
            <ul class="tab-pane fade show active list-group w-100" id="first" style="border-radius: .25rem 0 0 .25rem">
              <li class="list-group-item">{{{definition current.category '"Язык программирования", "Фреймворк"'}}}: <span class="h5">{{current.title}}</span></li>
              <li class="list-group-item">Востребовательность: {{{definition current.demand '"Средняя", "Высокая"' true true}}}</li>
              <li class="list-group-item">Подходит новичкам: {{{definition current.suitable '"Нет", "Да"' true true}}}</li>
              <li class="list-group-item {{#iff (length current.for_what) '>' 17}}custom-height{{/iff}}">Направленность: <span class="h5">{{current.for_what}}</span></li>
              <li class="list-group-item">
                Среднее время изучения: {{endingOfTheWord current.time '"месяц","месяца","месяцев"'}}
                <sup data-toggle="tooltip" data-placement="top" class="ico-lighter far fa-question-circle"></sup>
              </li>
            </ul>
            {{#if current.category}}
            {{else}}
              <ul class="tab-pane fade list-group w-100" id="second" style="border-radius: .25rem 0 0 .25rem">
                <li class="list-group-item">Синтаксис: {{{definition current.syntax '"Фигурные скобки", "Отступы"'}}}</li>
                <li class="list-group-item">Уровень абстракции: {{{definition current.abstraction '"Низкий", "Средний", "Высокий"' true}}}</li>
                <li class="list-group-item">Тип переменных: {{{definition current.dynamical_vars '"Статистический", "Динамический"'}}}</li>
                <li class="list-group-item">Объектно ориентированный язык: {{{definition current.oop '"Нет", "Да"' true true}}}</li>
                <li class="list-group-item">Тип: {{{definition current.level_type '"Низкоуровневый", "Среднеуровневый", "Высокоуровневый"' true}}}</li>
              </ul>
              <div class="nav border flex-column align-content-center" style="border-radius: 0 .25rem .25rem 0">
                <a data-toggle="tab" href="#first" class="mb-auto active ico-lighter fas fa-chevron-up"></a>
                <a data-toggle="tab" href="#second" class="ico-lighter fas fa-chevron-down"></a>
              </div>
            {{/if}}
          </div>
          <div class="my-5">
            {{{current.description}}}
          </div>
        </div>
      </div>
      <!--Basics-->
      <div class="tab-pane fade" id="basics">
        <!--Tabs for basics-->
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active border-left-0" style="border-top-left-radius: 0;" data-toggle="tab" href="#videos">Видео</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#books">Книги</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#articles">Статьи</a>
          </li>
        </ul>
        <div class="tab-content">
          <!--Videos-->
          <div class="tab-pane fade show active" id="videos">
            {{#each articles}}
              {{#iff this.category "==" 1}}
                <v-current-card-basics
                    parent="{{../../current.alias}}"
                    category="{{../this.category}}"
                    alias="{{../this.alias}}"
                    title="{{../this.title}}"
                    author="{{../this.author}}"
                    description="{{../this.description}}">
                </v-current-card-basics>
              {{/iff}}
            {{/each}}
          </div>
          <!--Books-->
          <div class="tab-pane fade" id="books">
            {{#each articles}}
              {{#iff this.category "==" 2}}
                <v-current-card-basics
                    parent="{{../../current.alias}}"
                    category="{{../this.category}}"
                    alias="{{../this.alias}}"
                    title="{{../this.title}}"
                    author="{{../this.author}}"
                    description="{{../this.description}}">
                </v-current-card-basics>
              {{/iff}}
            {{/each}}
          </div>
          <!--Articles-->
          <div class="tab-pane fade" id="articles">
            {{#each articles}}
              {{#iff this.category "==" 0}}
                <v-current-card-basics
                    parent="{{../../current.alias}}"
                    category="{{../this.category}}"
                    alias="{{../this.alias}}"
                    title="{{../this.title}}"
                    author="{{../this.author}}"
                    description="{{../this.description}}">
                </v-current-card-basics>
              {{/iff}}
            {{/each}}
          </div>
        </div>
      </div>
      <!--Frameworks-->
      {{#if (length frameworks)}}
        <div class="tab-pane fade" id="frameworks">
          <div class="col-12 px-0">
            {{#each frameworks}}
              <v-current-card-frameworks
                  alias="{{this.alias}}"
                  title="{{this.title}}"
                  description="{{this.description}}"
                  b_count="{{this.bCount}}"
                  v_count="{{this.vCount}}"
                  suitable="{{this.suitable}}"
                  demand="{{this.demand}}">
              </v-current-card-frameworks>
            {{/each}}
          </div>
        </div>
      {{/if}}
    </article>
  </main>
</div>