<div class="container-fluid text-center">
  <div class="row justify-content-center">
    <!--Greets-->
    <section class="col-12">
      <h2 class="my-2">Начни кодить уже сейчас, сидя дома</h2>
      <h5 class="mb-3 font-weight-light">жми на кнопку ниже и погнали</h5>
      <div class="row justify-content-center">
        <div class="col-4">
          <a class="btn btn-dark btn-lg btn-block" href="#">Хочу стать хацкером!</a>
        </div>
      </div>
    </section>
    <!--Main art-->
    <figure class="col-12 my-5"><img src="/assets/img/index-art.png" width="980" alt="main art"></figure>
    <!--Block start-->
    <section class="container-fluid bg-white">
      <div class="container">
        <h2 class="mb-4 text-center font-weight-light">Что ты найдешь на сайте?</h2>
        <div class="row justify-content-center">
          <div class="col-9">
            Если ты зашел на этот сайт, значит ты скорее всего полный ноль, который решил заниматься
            программированием. Поздравляю, ты попал на нужный сайт. Сдесь собрана большая часть информации со всего
            рунета по многим, интересующим тебя темам
          </div>
          <div class="col-6 d-flex justify-content-between py-4">
            <a href="#"><img src="/assets/img/books.png" width="160" title="Книги" alt="books"></a>
            <a href="#"><img src="/assets/img/article.png" width="100" title="Статьи" alt="articles"></a>
            <a href="#"><img src="/assets/img/video.png" class="mt-2" width="150" title="Видео" alt="videos"></a>
          </div>
        </div>
      </div>
    </section>
    <!--Block w/ cards-->
    <section class="container text-center">
      <h2 class="font-weight-light">Языки программирования</h2>
      <h5 class="font-weight-light mb-4">и не только</h5>
      <!--Cards-->
      {{#each catalog}}
        <v-index-card
            :category="{{this.category}}"
            title="{{this.title}}"
            description="{{this.description}}"
            :counted-categories="[{{this.countedCategories}}]"
            :time="{{this.time}}"
            :demand="{{this.demand}}"
            alias="{{this.alias}}">
        </v-index-card>
      {{/each}}
    </section>
    <!--Block start-->
    <section class="container-fluid bg-white">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-6 text-center">
            <h2 class="font-weight-light mb-2">Без понятия что учить?</h2>
            <p>
              Тогда <a href="#" class="underlined">вот страница</a>, на которой можно узнать о современном IT.
              Тебе расскажут о типах, видах и основе программирования, а так же о карьерном росте в данной сфере.
              Подскажут, что нужно учить и помогут не наступить на грабли
            </p>
            <a href="/catalog" class="btn btn-outline-dark mt-4">Отстань, дай посмотрю, что у вас тут
              есть</a>
          </div>
          <div class="col-1 justify-content-start">
            <img src="/assets/img/why.png" width="115" height="230">
          </div>
        </div>
      </div>
    </section>
  </div>
</div>