// Size
$desktopWidth            : 1280px;
$smDesktopWidth          : 1024px;
$tableWidth              : 768px;
$smTableWidth            : 640px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;

// Main color
$default-color           : #ffffff;
$primary-color           : #444ce0;
$success-color           : #26de81;
$danger-color            : #fc5c65;
$warning-color           : #fed330;
$light-color             : #999999;
$purple-color            : #8854d0;

// Neutral Color
$neutral-default         : #000000;
$neutral-primary         : #303133;
$neutral-custom          : #3e3e3e;
$neutral-regular         : #606266;
$neutral-secondary       : #909399;
$neutral-placeholder     : #C0C4CC;
$neutral-background      : #F3F3F3;

// Border Color
$border                  : 1px solid;
$border-base             : #DCDFE6;
$border-main             : #DFE3E9;
$border-light            : #E4E7ED;
$border-lighter          : #EBEEF5;
$border-lightest         : #F2F6FC;

// Box Shadow
$custom-box-shadow       : 1px 2px 3px 0 rgba(0, 0, 0, 0.1);

// Path
$img-path                : '/assets/img/';
