<!doctype html>
<html lang="en">
{{> head}}
<body>
<div id="app">
  {{> header}}
  <section> {{{body}}} </section>
  {{> footer}}
</div>
</body>
{{#if DEBUG}}
  <script src="/libs/jquery/jquery.slim.min.js"></script>
  <!--  <script src="/libs/bootstrap/popper.min.js"></script>-->
  <script src="/libs/bootstrap/js/bootstrap.min.js"></script>
{{else}}
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <!--  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>-->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{{/if}}
<script type="text/javascript" src="/assets/app.js"></script>
</html>