<template>
  <div class="card mb-4 text-left">
    <!--Body-->
    <div class="card-body p-5">
      <div class="row">
        <div class="col-8">
          <!--Type-->
          <span class="text-uppercase">{{ category ? 'Фреймворк' : 'Язык программирования' }}</span>
          <!--Title-->
          <h2 class="mb-3 mt-1">
            <a :href="`/catalog/${alias}`">{{ title }}</a>
          </h2>
          <!--Text-->
          <p class="text-muted">
            {{ description }}
          </p>
          <!--Statistic-->
          <div class="row my-4">
            <!---->
            <div class="col-4">
              <div class="d-flex">
                <i class="mr-3 fas fa-video"></i>
                <span style="margin-left: -5px;">Видео: <b>{{ countedCategories[1] }}</b></span>
              </div>
              <div class="d-flex">
                <i class="mr-3 fas fa-book "></i>
                <span>Книг: <b>{{ countedCategories[2] }}</b></span>
              </div>
            </div>
            <!---->
            <div class="col">
              <div class="d-flex">
                <i class="mr-3 far fa-calendar-times"></i>
                <span><b>{{ time }}</b> месяца</span>
              </div>
              <div class="d-flex">
                <i class="mr-3 fas fa-comment-dollar"></i>
                <span style="margin-left: -2px;">{{ demand ? "Высоко" : "Хорошо" }} востребован</span>
              </div>
            </div>
          </div>
          <!--More link-->
          <a class="btn btn-dark" :href="`/catalog/${alias}`">Узнать больше</a>
        </div>
        <!--Logo-->
        <img class="col-4" :src="`/assets/img/catalog/${alias}/logo.svg`" alt="logo">
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    category: Number,
    title: String,
    description: String,
    countedCategories: Array,
    time: Number,
    demand: Number,
    alias: String
  },
}
</script>

<style scoped>
.fas {
  line-height: 25px;
}
</style>
