<template>
  <div :class="`carousel-item ${active}`">
    <div class="row d-flex justify-content-between mx-5">
      <!--Card-->
      <slot></slot>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    active: {
      type: String,
      default: ''
    }
  }
}
</script>

<style scoped>
  .carousel-item {
    transition: transform .6s ease-in-out;
  }
</style>