<template>
    <ul class="mt-3">
      <v-tree-element v-for="el in treeData" :sub="true" :node="el"></v-tree-element>
    </ul>
</template>

<script>
export default {
  props: {
    treeData: Array
  }
}
</script>