<template>
  <div class="card">
    <a :href="`/catalog/${alias}`">
      <img class="card-img-top border-bottom" :src="`/assets/img/catalog/${alias}/catalog.png`" height="133px" alt="poster">
    </a>
    <div class="card-body pt-0">
      <h3 class="my-1"><a :href="`/catalog/${alias}`">{{ title }}</a></h3>
      <a :href="`/catalog/${alias}`">Видео: <b>{{ countedCategories[1] }}</b></a>
      <br>
      <a :href="`/catalog/${alias}`">Книги: <b>{{ countedCategories[2] }}</b></a>
      <br>
      <a :href="`/catalog/${alias}`" class="btn btn-dark btn-block mt-3">Дай посмотрю</a>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    alias: String,
    title: String,
    countedCategories: Array
  }
}
</script>