<template>
  <main class="row bg-white justify-content-between p-4">
    <h3>{{ options[selected].text }}</h3>
    <div class="form-group">
      <h5 class="d-inline mr-2">Выберите категорию: </h5>
      <label>
        <select v-model="selected">
          <option v-for="option in options" :value="option.value">
            {{ option.text }}
          </option>
        </select>
      </label>
    </div>
    <div class="row col-12">
      <div class="col-3 p-3" v-for="item in catalog" :key="catalog.id" v-if="selected===item.category+1 || !selected">
        <v-catalog-card :alias="item.alias" :title="item.title" :countedCategories="item.countedCategories"/>
      </div>
    </div>
  </main>
</template>

<script>
export default {
  props: {
    catalog: Array
  },
  data() {
    return {
      selected: 0,
      options: [
        {text: 'Всё', value: 0},
        {text: 'Языки программирования', value: 1},
        {text: 'Фреймворки', value: 2}
      ]
    }
  }
}
</script>