<header>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
      <h1><a class="navbar-brand" href="/"><img src="/assets/img/logo.png" alt="logo"></a></h1>
      <!--Media btn-->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!--Header List-->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!--Items-->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link" href="/catalog">Каталог</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/articles">Статьи</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" aria-disabled="true">Форум</a>
          </li>
          <!--Drop down menu-->
          <v-drop-down head="Помощь">
            <v-drop-down-item title="FAQ" link="#"></v-drop-down-item>
            <v-drop-down-item title="О нас" link="#"></v-drop-down-item>
            <v-drop-down-item title="Обратная" link="#"></v-drop-down-item>
          </v-drop-down>
        </ul>
        <!--Search Block-->
        <form class="form-inline input-group mr-4" style="width: 170px;">
          <input class="form-control border-dark" placeholder="Поиск" style="height: 30px;" type="search">
          <div class="input-group-append">
            <button class="btn btn-outline-dark fa fa-search" style="height: 30px;" type="submit" title="Искать"></button>
          </div>
        </form>
        <!--Modal/User block-->
        <v-modal-form></v-modal-form>
      </div>
    </nav>
  </div>
</header>