<head>
  <meta name="charset" content="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" href="/favicon.ico">
  {{#if DEBUG}}
    <script type="text/javascript" src="/libs/vue.js"></script>
    <link rel="stylesheet" href="/libs/bootstrap/css/bootstrap.min.css">
  {{else}}
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  {{/if}}
  <link href="/assets/app.css" rel="stylesheet">
  <script ASYNC src="https://kit.fontawesome.com/a7113a2019.js"></script>
  <title>4Greens</title>
</head>