<template>
  <div id="app" class="card m-3 px-3">
    <div class="card-body">
      <div class="row">
        <a :href="`/articles/${alias}`">
          <img width="200" class="border" :src="`/assets/img/catalog/${parent}/${categories[category]}/${alias}.png`" alt="poster">
        </a>
        <div class="col-7">
          <a :href="`/articles/${alias}`" class="h3">{{ title }}</a>
          <div class="text-capitalize h5 mt-2">Автор: {{ author }}</div>
        </div>
        <div class="text-muted my-2">{{ description }}</div>
        <a class="btn btn-dark" :href="`/articles/${alias}`">Узнать больше</a>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    parent: String,
    category: String,
    alias: String,
    title: String,
    author: String,
    description: String
  },
  data() {
    return {
      categories: ['', 'videos', 'books']
    }
  }
}
</script>