<template>
  <div class="border-bottom text-left rounded-0">
    <!--Body-->
    <div class="card-body p-4 ">
      <div class="row">
        <div class="col-8">
          <!--Title-->
          <h2 class="mb-3 mt-1">
            <a :href="`/articles/${alias}`">{{ title }}</a>
          </h2>
          <!--Description-->
          <p class="text-muted">{{ description }}</p>
          <!--Statistic-->
          <div class="row my-4">
            <!---->
            <div class="col-4">
              <div class="d-flex">
                <i class="mr-3 fas fa-book "></i>
                <span>Книг: <b>{{ b_count }}</b></span>
              </div>
              <div class="d-flex">
                <i class="mr-3 fas fa-video"></i>
                <span style="margin-left: -5px;">Видео-курсов: <b>{{ v_count }}</b></span>
              </div>
            </div>
            <!---->
            <div class="col">
              <div class="d-flex">
                <i class="mr-3 fas fa-smile"></i>
                <span><b>{{ suitable ? 'Подходит' : 'Не подходит' }}</b> новичкам</span>
              </div>
              <div class="d-flex">
                <i class="mr-3 fas fa-comment-dollar"></i>
                <span style="margin-left: -2px;">{{ demand ? 'Высоко' : 'Хорошо' }} востребован</span>
              </div>
            </div>
          </div>
          <!--More link-->
          <a class="btn btn-dark" :href="`/catalog/${alias}`">Узнать больше</a>
        </div>
        <!--Logo-->
        <img class="col-3 position-absolute" style="margin-left: 500px;" :src="`/assets/img/catalog/${alias}/logo.svg`" alt="logo">
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    alias: String,
    title: String,
    description: String,
    b_count: Number,
    v_count: Number,
    suitable: Boolean,
    demand: Boolean
  }
}
</script>